:root {
	color-scheme: light dark;
}
html.light {
	color-scheme: light;
	--bg: white;
}
html.dark {
	color-scheme: dark;
	--bg: #111;
}
body {
	opacity: calc(var(--css1-loaded, 0) * var(--css2-loaded, 0));
}
