@import url("./hljs.css");
@import url("./nprogress.css");

:root {
	--dark-green: #064929;
	--light-green: #4bba5b;
	--resolved-green: light-dark(var(--dark-green), var(--light-green));
	--css1-loaded: 1;
}

html {
	font-family: monospace;
	font-size: 16px;
}
html,
body {
	height: 100dvh;
	background: var(--bg);
}
html,
body,
#river-root,
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
main {
	margin: 1rem;
}

a,
button,
input[type="button"],
input[type="submit"] {
	touch-action: manipulation;
}

.content {
	width: 720px;
	max-width: 100%;
	margin: 2rem auto;

	p,
	ul,
	ol,
	pre {
		font-size: 17px;
		line-height: 1.8;
		margin-bottom: 1.5rem;
	}

	p {
		margin-bottom: 1.5rem;
	}

	a {
		text-decoration: underline;
		text-underline-offset: 3px;
		&:hover {
			color: var(--resolved-green);
		}
	}

	h1,
	h2 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1.5rem;
		color: var(--resolved-green);
		scroll-margin-top: 7rem;
	}
	h1 {
		font-size: 3rem;
		text-align: center;
		font-weight: bold;
	}
	h2 {
		font-size: 2rem;
		text-align: center;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: bold;
		font-style: italic;
	}
	h4 {
		font-size: 1.3rem;
	}
	h5 {
		font-size: 1.15rem;
		font-weight: bold;
	}
	h6 {
		font-size: 1rem;
		font-style: italic;
	}

	pre {
		font-size: 15.5px;
		line-height: 1.7;
		overflow-x: auto;
		background-color: light-dark(#fcf4e7, black);
		padding: 0.75rem 1rem;
		max-width: 100%;
		border: 1px solid #7777;
	}
	code {
		background-color: #7773;
		padding: 0.15rem 0.25rem;
		tab-size: 1.75rem;
		line-height: 1.5;
	}
	pre code {
		background-color: transparent !important;
		padding: 0;
	}
	p code {
		word-wrap: break-word;
	}

	ul {
		margin-left: 1.5rem;
		list-style: disc;
	}
	ol {
		margin-left: 3rem;
		list-style: decimal;
	}
	li {
		margin-bottom: 0.5rem;
	}
}
