:root {
	color-scheme: light dark;
	--bg: light-dark(#eee, #222);
	--bg-2: light-dark(white, #111);
	--dark-green: #064929;
	--light-green: #4bba5b;
	--resolved-green: light-dark(var(--dark-green), var(--light-green));
	--resolved-green-opposite: light-dark(var(--light-green), var(--dark-green));
}
html.light {
	color-scheme: light;
}
html.dark {
	color-scheme: dark;
}
html {
	font-family: monospace;
	font-size: 16px;
}
html,
body {
	height: 100%;
}
html,
body,
#river-root,
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
main {
	background: var(--bg-2);
	margin: 1rem;
}
p {
	line-height: 1.7;
}
