@import url("./hljs.css");
@import url("./nprogress.css");

a,
button,
input[type="button"],
input[type="submit"] {
	touch-action: manipulation;
}

.content {
	p {
		margin-bottom: 1.5rem;
	}
	a {
		text-decoration: underline;
		text-underline-offset: 3px;
		&:hover {
			color: var(--resolved-green);
		}
	}
	h1,
	h2 {
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1.5rem;
		color: var(--resolved-green);
		scroll-margin-top: 7rem;
	}
	h1 {
		font-size: 3rem;
		text-align: center;
		font-weight: bold;
	}
	h2 {
		font-size: 2rem;
		text-align: center;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: bold;
		font-style: italic;
	}
	h4 {
		font-size: 1.3rem;
	}
	h5 {
		font-size: 1.15rem;
		font-weight: bold;
	}
	h6 {
		font-size: 1rem;
		font-style: italic;
	}

	pre {
		overflow-x: auto;
		background-color: light-dark(#fcf4e7, black);
		padding: 0.75rem 1rem;
		max-width: 100%;
		border: 1px solid #7777;
	}
	code {
		background-color: #7773;
		padding: 0.15rem 0.25rem;
		tab-size: 1.75rem;
		line-height: 1.5;
	}
	pre code {
		background-color: transparent !important;
		padding: 0;
	}
	p code {
		word-wrap: break-word;
	}

	ul {
		margin-left: 1.5rem;
		list-style: disc;
	}
	ol {
		margin-left: 3rem;
		list-style: decimal;
	}
}
