:root {
	color-scheme: light dark;
	--dark-green: #064929;
	--light-green: #4bba5b;
}
html.light {
	color-scheme: light;
	--bg: white;
}
html.dark {
	color-scheme: dark;
	--bg: #111;
}
html {
	font-family: monospace;
	font-size: 16px;
}
html,
body {
	height: 100dvh;
	background: var(--bg);
}
html,
body,
#river-root,
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
main {
	margin: 1rem;
}
p {
	font-size: 17px;
	line-height: 1.8;
	margin-bottom: 1rem;
}
.content {
	max-width: 640px;
	margin: 2rem auto;
}
@media screen and (max-width: 640px) {
	.content {
		margin: 1rem auto;
	}
}
